.compare-details-section{
    background: #fff;
    overflow-x: scroll;
    border: 6px solid #fff;
}
.page-title{
    text-align: center;
    padding: 10px;
}
#header .classy-compare-error-msg{
    position: fixed;
    bottom: 1000;
    right: 10px;
    width: 300px;
    color: #fff;
    background: #c0392b;
    padding: 16px;
    border-radius: 4px;
}
table, table tr td, table tr th{
    border: 1px solid #f6f6f6;
}
table tr th {
    position: sticky;
    left: 0;
}
.class_compare_button{
    display: block;
}
.ccompare-products-wrapper{
    display: flex;
}
.with-background{
    background: #f6f6f6;
}
.no-background{
    background: #fff;
}
.regular_price{
    text-decoration: line-through;
    font-size: 13px;
    color: #7a7a7a;
}
.compare-item-description{
    width: min-content;
}
.discount_amount{
    padding: 4px;
    background: #f39d72;
    font-size: 15px;
    color: #fff;
}